body {
	margin: 0;
	padding: 0;
	font-family: "inter-400";
}

.body-wrapper {
	/* Position relative given to add shadow effect over navbar */
	position: relative;
	background-color: #f9f9f9;
}

.body-container {
	padding: 20px 20px;
	width: 70vw;
	margin: 0 auto;
	z-index: 0;
	height: calc(100vh - 60px);
}

.dashboard {
	text-align: center;
}
